---
import Main from "@/layouts/Main.astro";
import Article from "@/components/Article.astro";
import { articles } from "@/lib/collections";

export async function getStaticPaths() {
  return articles.wherePublished().staticPaths();
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<Main title={article.title} section="articles">
  <Article article={article}>
    <Content />
  </Article>
</Main>
