---
import MainLayout from "@layouts/MainLayout.astro";
import { articles } from "@lib/collections";

const rendered = await Promise.all(
  articles.map(async (article) => {
    const { Content, headings } = await article.render();
    return { article, Content, headings };
  })
);
---

<MainLayout title="Articles">
  <h1>Articles</h1>
  <ul class="content-list">
    {
      rendered.map(({ article, Content, headings }) => {
        return (
          <li>
            <h2>
              <a
                href={`${article.date.getFullYear()}/${
                  article.formattedMonth
                }/${article.slug.substring(11)}`}
              >
                {article.data.title}
              </a>
            </h2>
            <Content />
          </li>
        );
      })
    }
  </ul>
</MainLayout>
