---
import Main from "@layouts/Main.astro";
import Article from "@components/Article.astro";
import { articles } from "@lib/collections";

const rendered = await Promise.all(
  articles
    .wherePublished()
    .byMostRecent()
    .map(async (article) => {
      const { Content, headings } = await article.render();
      return { article, Content, headings };
    })
);
---

<Main title="Articles" section="articles">
  {
    rendered.map(({ article, Content }) => {
      return (
        <Article article={article}>
          <Content />
        </Article>
      );
    })
  }
</Main>
