---
import Main from "@/layouts/Main.astro";
import Article from "@/components/Article.astro";
import { articles } from "@/lib/collections";

const chosenArticles = articles.wherePublished().byMostRecent();
---

<Main title="Articles" section="articles">
  {
    chosenArticles.map(async (article) => {
      const { Content } = await article.render();
      return (
        <Article article={article}>
          <Content />
        </Article>
      );
    })
  }
</Main>
