---
import Main from "@/layouts/Main.astro";
import { scraps } from "@/lib/collections";

const sortedEntries = scraps.byMostRecent();
---

<Main title="Scraps" section="home">
  <ul class="content-list">
    {
      sortedEntries.map(async (entry) => {
        const { Content } = await entry.render();
        const title = (!entry.hideTitle) ? <h2>{entry.title}</h2> : null;
        return (
          <li>
            {title}
            <Content />
          </li>
        );
      })
    }
  </ul>
</Main>
