---
import Main from "@/layouts/Main.astro";
import { projects } from "@/lib/collections";
---

<Main title="Projects" section="projects">
  <h1>Projects</h1>
  <ul class="content-list">
    {
      projects.map(async (project) => {
        const { Content } = await project.render();
        return (
          <li>
            <h2>
              {project.isPrivate ? (
                project.title + " (coming soon)"
              ) : (
                <a href={project.url}>{project.title}</a>
              )}
            </h2>
            <Content />
          </li>
        );
      })
    }
  </ul>
</Main>
