---
import Main from "@/layouts/Main.astro";
import {
  articles,
  weeknotes,
  Collection,
  Article,
  Weeknote,
} from "@/lib/collections";

const entries: Collection<Article | Weeknote> = new Collection();
entries.push(...articles, ...weeknotes);
const sortedEntries = entries.byMostRecent();
---

<Main title="Articles" section="articles">
  {
    sortedEntries.map(async (entry) => {
      const { Content } = await entry.render();
      return (
        <li>
          {entry.collection} {entry.title} {entry.path}
        </li>
      );
    })
  }
</Main>
