---
import Main from "@/layouts/Main.astro";
import Article from "@/components/Article.astro";
import { weeknotes } from "@/lib/collections";

const chosenWeeknotes = weeknotes.wherePublished().byMostRecent();
---

<Main title="Weeknotes" section="weeknotes">
  {
    chosenWeeknotes.map(async (weeknote) => {
      const { Content } = await weeknote.render();
      return (
        <Article article={weeknote}>
          <Content />
        </Article>
      );
    })
  }
</Main>
