---
import MainLayout from "../layouts/MainLayout.astro";
import { weeknotes } from "../lib/weeknote.js";

const rendered = await Promise.all(
  weeknotes.map(async (weeknote) => {
    const { Content, headings } = await weeknote.render();
    return { weeknote, Content, headings };
  })
);
---

<MainLayout title="Weeknotes">
  <h1>Articles</h1>
  <ul class="content-list">
    {
      rendered.map(({ weeknote, Content, headings }) => {
        return (
          <li>
            <h2>
              <a href={"/weeknotes/" + weeknote.slug}>{weeknote.data.title}</a>
            </h2>
            <Content />
          </li>
        );
      })
    }
  </ul>
</MainLayout>
