---
import Main from "@layouts/Main.astro";
import Article from "@components/Article.astro";
import { weeknotes } from "@lib/collections.js";

const rendered = await Promise.all(
  weeknotes
    .wherePublished()
    .byMostRecent()
    .map(async (weeknote) => {
      const { Content, headings } = await weeknote.render();
      return { weeknote, Content, headings };
    })
);
---

<Main title="Weeknotes" section="weeknotes">
  {
    rendered.map(({ weeknote, Content }) => {
      return (
        <Article article={weeknote}>
          <Content />
        </Article>
      );
    })
  }
</Main>
