---
import MainLayout from "@layouts/MainLayout.astro";
import Article from "@layouts/Article.astro";
import Date from "@components/Date.astro";
import { weeknotes } from "@lib/weeknote.js";

const rendered = await Promise.all(
  weeknotes.map(async (weeknote) => {
    const { Content, headings } = await weeknote.render();
    return { weeknote, Content, headings };
  })
);
---

<MainLayout title="Weeknotes">
  {
    rendered.map(({ weeknote, Content, headings }) => {
      return (
        <article>
          <hgroup>
            <h1>{weeknote.titleWithWeek}</h1>
            <h2>
              <Date date={weeknote.date} />
            </h2>
          </hgroup>
          <Content />
        </article>
      );
    })
  }
</MainLayout>
