---
import Date from "@components/Date.astro";

export interface Props {
  article: {
    title: string;
    date?: Date;
    path?: string;
  };
}

const { article } = Astro.props as Props;
const { title, date, path } = article;
---

<style lang="scss">
  hgroup {
    h1 {
      a {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        color: var(--accent-colour);
      }
    }

    h2 {
      font-weight: 100;
      color: var(--accent-colour);
      opacity: 0.8;
      margin-top: calc(-0.5 * var(--line-height));
      padding-bottom: calc(0.5 * var(--line-height));
    }

    margin-bottom: var(--line-height);
  }

  .content {
    :global(a) {
      color: var(--accent-colour);
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      font-weight: 600;
      transition: 0.15s;
    }

    :global(a:hover) {
      opacity: 0.5;
    }

    :global(sup) {
      // Align with the top of the text, so as not to interfere with the baseline. Then use
      // relative positioning to push the superscript up a little.
      position: relative;
      vertical-align: top;
      font-size: 0.7em;
      top: -0.4em;
    }
  }

  article {
    margin-bottom: calc(3 * var(--line-height));
  }
</style>
<article>
  <hgroup>
    <h1>{path ? <a href={path}>{title}</a> : title}</h1>
    {
      date && (
        <h2>
          <Date date={date} />
        </h2>
      )
    }
  </hgroup>
  <div class="content">
    <slot />
  </div>
</article>
