---
import { Picture } from "@astrojs/image/components";
var { src, alt, height } = Astro.props;
src = await src;
const { width: imageWidth, height: imageHeight } = src;
height ||= imageHeight;
const aspectRatio = imageWidth / imageHeight;
const width = height * aspectRatio;
console.log({ width, height, aspectRatio });
console.log(await width);
---

<style lang="scss">
  div {
    display: flex;
    justify-content: center;
  }

  figure {
    display: inline-block;
    padding: 4px;
    border: 1px solid #ccc;

    :global(img) {
      display: block;
    }
  }
</style>

<div>
  <figure>
    <Picture
      src={src}
      alt={alt}
      width={width}
      height={height}
      widths={[
        imageWidth,
        Math.round(imageWidth / 2),
        Math.round(imageWidth / 4),
        Math.round(imageWidth / 8),
      ]}
      aspectRatio={imageWidth / imageHeight}
    />
  </figure>
</div>
