---
import Main from "@layouts/Main.astro";
import Article from "@components/Article.astro";
import { weeknotes } from "@lib/collections";

export async function getStaticPaths() {
  return weeknotes.wherePublished().map((entry) => entry.staticPath);
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title={entry.title} section="weeknotes">
  <Article article={entry}>
    <Content />
  </Article>
</Main>
