---
import Icon from "../Icon.astro";
import { weeknotes } from "../../lib/weeknote.js";
const { maxWidth, gutterSize } = Astro.props;
---

<style define:vars={{ maxWidth, gutterSize }} lang="scss">
  header {
    background: var(--accent-colour);
    color: white;
    font-family: var(--headline-font);
    text-transform: uppercase;

    > div.container {
      container: content / inline-size;
      max-width: var(--maxWidth);
      padding-left: var(--gutterSize);
      padding-right: var(--gutterSize);
      margin: 0 auto;
    }

    nav {
      display: flex;
      justify-content: space-between;

      ul {
        list-style: none;
        display: flex;
      }

      ul.sections {
        li::after {
          content: "•";
          padding-left: 0.5cqw;
          padding-right: 0.5cqw;
        }

        li:last-child::after {
          content: "";
          padding-left: 0;
          padding-right: 0;
        }
      }

      ul.icons {
        text-align: right;

        li {
          margin-left: 0.5cqw;
        }
      }
    }

    margin-bottom: var(--line-height);

    a {
      color: inherit;
      text-decoration: none;
      transition: 0.15s;
    }

    a:hover {
      opacity: 0.5;
    }
  }
</style>

<header>
  <div class="container">
    <nav>
      <ul class="sections">
        <li><a href="/">About</a></li>
        <li><a href={"/weeknotes/" + weeknotes[0].slug}>Weeknotes</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      <ul class="icons">
        <li>
          <a href="https://hachyderm.io/@tomafro"><Icon name="mastodon" /></a>
        </li>
        <li>
          <a href="https://instagram.com/tomafro"><Icon name="instagram" /></a>
        </li>
        <li>
          <a href="https://github.com/tomafro"><Icon name="github" /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
