---
const { maxWidth, gutterSize } = Astro.props;
---

<style define:vars={{ maxWidth, gutterSize }} lang="scss">
  main {
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutterSize);
    padding-right: var(--gutterSize);
  }
</style>
<main>
  <slot />
</main>
