<style lang="scss">
  main {
    :global(article) :global(ul) {
      position: relative;
      list-style: none inside;

      :global(li p:first-child::before) {
        content: "»";
        font-weight: 900;
        margin-right: 0.5rem;
      }

      @container (min-width: 30rem) {
        :global(li p:first-child::before) {
          position: absolute;
          left: -1rem;
        }
      }
    }
  }
</style>
<main>
  <slot />
</main>
