---
import Main from "@/layouts/Main.astro";
import Article from "@/components/Article.astro";

export interface Props {
  title: string;
  date: Date;
  section: string;
}

const article = Astro.props.frontmatter || Astro.props;
const { title, section } = article;
---

<Main title={title} section={section}>
  <Article article={article}>
    <slot />
  </Article>
</Main>
