---
import MainLayout from "./MainLayout.astro";
import Date from "../components/Date.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props.frontmatter || Astro.props;
---

<MainLayout title={title}>
  <article>
    <hgroup>
      <h1>{title}</h1>
      {
        date && (
          <h2>
            <Date date={date} />
          </h2>
        )
      }
    </hgroup>
    <slot />
  </article>
</MainLayout>
