---
import Main from "@layouts/Main.astro";
import Article from "@components/Article.astro";

export interface Props {
  title: string;
  date: Date;
}

const article = Astro.props.frontmatter || Astro.props;
const { title } = article;
---

<Main title={title}>
  <Article article={article}>
    <slot />
  </Article>
</Main>
